<div class="l">
<p>Your account is created suceesfully.</p>


</div>
<div class="link">
<%= link_to "Sign In", new_member_session_path, :method => :get %>
<%= link_to "Sign out", destroy_member_session_path, :method => :delete %>
</div>

